<div class="inner">
  Uruchomione na <a href="https://ghost.org/" alt="Ghost - blogging platform">Ghost</a>, layout w oparciu o <a href="https://github.com/jsinh/needy-ghost" rel="external">needy</a> by <a href="http://blog.jsinh.in" target="_blank" alt="" >Jsinh</a> na licencji MIT.
  <section class="copyright">
    <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; Wszelkie prawa zastrzeżone.
  </section>
  <section class="copyright">
    All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.
  </section>
</div>