<header>
    <div id="header-logo">
        <a href="{{@blog.url}}" title="Home" id="logo">            
            <h1>IzzyDev</h1>
        </a>
    </div>
  <hr id="header-sep"/>
    <div id="header-menu">
        <nav>
            <ul>
                <li><a href="{{@blog.url}}/">Wpisy</a></li>
                <li><a href="{{@blog.url}}/nieskromnie-o-mnie">O mnie</a></li>
                <li><a href="{{@blog.url}}/tag/article">Artykuły</a></li>
            </ul>
        </nav>
    </div>
</header>