<nav class="pagination" role="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Nowsze posty</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Starsze posty &rarr;</a>
    {{/if}}
</nav>