<span class="post-metainfo">
    <!--<span class="author">{{author.name}}</span>
  <span> | </span>-->
    <span><time class="postedon" datetime="{{date}}">{{date published_at timeago="true"}}</time></span>
  {{#if tags}}
    <span class="post-excerpt-footer-taglabel">{{tags}}</span>
    {{/if}}
</span>