<!--<div id="sidebar">
    <div id="sidebar-adsense">
        <script type="text/javascript">
        --><!--
            google_ad_client = "ca-pub-5736173425757050";
            /* Sidebar Ad Unit Wide Skyscraper 160 x 600 */
            google_ad_slot = "3036998484";
            google_ad_width = 160;
            google_ad_height = 600;
            //--><!--
        </script>
        <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>-->