<div id="social">
  <ul>
    <li>
      <a href="skype:izydor-47?chat" rel="external" class="skype social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Siedzę tutaj prawie non-stop."></a>
    </li>

    <li>
      <a href="https://www.linkedin.com/profile/view?id=343852075" rel="external" class="linkedin social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Head hunter? Kliknij tutaj!"></a>
    </li>

    <li>
      <a href="https://www.facebook.com/izyckipawel" rel="external" class="facebook social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Za mało znajomych na facebooku?"></a>
    </li>

<!-- 
    <li>
      <a href="" rel="author external" class="googlep social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Dodaj mnie do kręgu &quot;ludzi, których tak na prawdę nie znam&quot;!"></a>
    </li> -->

    <li>
      <a href="https://twitter.com/IzyckiPawel" rel="external" class="twitter social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Tutaj podaje newsy ze świata nerdów."></a>
    </li>

    <li>
      <a href="https://bitbucket.org/pawelizycki" rel="external" class="bitbucket social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Lubisz hejcić cudzy kod? Tutaj masz moje projekty!"></a>
    </li>

    <li>
      <a href="https://github.com/pawelizycki" rel="external" class="github social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Zobacz jakie projekty otrzymały ode mnie gwiazdkę."></a>
    </li>

    <li>
      <a href="~/rss/" rel="external" class="rss social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Dla leniwych i tych, którym nie podoba się layout :("></a>
    </li>
  </ul>
</div>