<!DOCTYPE html>
<html lang="en">
    <head>
    	{{! Document settings }}
        <!-- Encoding used -->
        <meta charset="utf-8" />
        <!-- IE version's standard fix -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {{! Page meta }}
        <!-- Page title -->
        <title>{{meta_title}}</title>
        <!-- Page description -->
        <meta name="description" content="{{meta_description}}" />

        {{! Responsive meta }}
        <!-- Responsive UI design meta -->
        <meta name="HandheldFriendly" content="True" />
        <!-- Responsive UI mobile optimized -->
        <meta name="MobileOptimized" content="320" />
        <!-- Responsive UI viewport fix -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{! Font settings }}
		<!-- Google fonts import - Open Sans -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>

        {{! Style imports }}
        <!-- Normalize First -->
        <link rel="stylesheet" type="text/css" href="{{asset "/css/normalize.css"}}" />
        <!-- Site wide styles -->
        <link rel="stylesheet" type="text/css" href="{{asset "/css/main.css"}}" />
        <!-- Responsive UI styles -->
        <link rel="stylesheet" type="text/css" href="{{asset "/css/responsive.css"}}" />
        <!-- Style for tooltip / hit -->
        <link rel="stylesheet" type="text/css" href="{{asset "/css/hint.css"}}">
        <!--Syntax colouring-->
        <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

		{{! Touch icons and favicon }}
		<!-- TODO: Create this icons to support apple touch devices
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "/images/apple-touch-icon-144x144-precomposed.png"}}" />
	    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset "/images/apple-touch-icon-114x114-precomposed.png"}}" />
	    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset "/images/apple-touch-icon-72x72-precomposed.png"}}" />
	    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset "/images/apple-touch-icon-57x57-precomposed.png"}}" />
	    <link rel="apple-touch-icon-precomposed" href="{{asset "/images/apple-touch-icon-precomposed.png"}}" />
	    <link rel="apple-touch-icon" href="{{asset "/images/apple-touch-icon.png"}}" />
		-->
        <link rel="icon" href="{{asset "/images/favicon.ico"}}" type="image/x-icon">
        <link rel="shortcut icon" href="{{asset "/images/favicon.ico"}}" type="image/x-icon">

        {{! Google analytics script }}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-50312339-1', 'jsinh.in');
          ga('send', 'pageview');
        </script>

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
		<div class="loader" role="loader"><div class="loader-icon"></div></div>
		<div id="all">
    		<div id="content-wrap">
    			{{! Needy Ghost Theme: Partials - Site wide header }}
    			{{> header}}

    			<div id="body" role="main">
    				<div id="content">
                    	{{! Everything else gets inserted here }}
    					{{{body}}}
    				</div>
    			</div>
    		</div>
            {{! Needy Ghost Theme: Site wide footer section }}
            <footer id="footer">
                {{! Needy Ghost Theme: Partials - Social badge integration }}
                {{> social-footer}}

                {{! Needy Ghost Theme: Partials - Site wide footer notes }}
                {{> footer-notes}}
            </footer>
            {{! Ghost outputs important scripts and data with this tag }}
            {{ghost_foot}}
            
        </div>


		
        <a href="#" class="back-to-top">Back to Top</a>
        {{! Awwaal scripts load here }}
        <!-- Load: FitVids - making videos responsive -->
        <script src="//cdn.jsdelivr.net/fitvids/1.1.0/jquery.fitvids.js"></script>
        <!-- Load: Highlight - formatting for code snippets -->
        <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>        
        <!-- Initialize: code formatter -->
        <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
        <!-- Load: Main - site wide script -->
        <script type="text/javascript" src="{{asset "/js/main.js"}}"></script>
    </body>
</html>