{{!< default}}

{{#foreach posts}}
<article>
    <header class="post-excerpt-header">
        <h2><a href="{{url}}" title="Read &quot;{{title}}&quot;">{{title}}</a></h2>
        {{! Needy Ghost Theme: Post wide meta information - Author, Published time }}
        {{> post-meta}}
    </header>
    <section class="post-excerpt-content">
        <p>{{excerpt characters="350"}}&hellip;<span class="keep-reading"><a href="{{url}}" title="Read &quot;{{title}}&quot;">czytaj dalej</a></span></p>
    </section>
    <footer class="post-excerpt-footer">
        {{! Needy Ghost Theme: Post wide tags }}
    </footer>
</article>
{{/foreach}}

{{! Pagination }}
{{#if pagination.prev}}
    {{pagination}}
{{else}}
    {{#if pagination.next}}
        {{pagination}}
    {{/if}}
{{/if}}