/***************************************************************
	This style-sheet contains style definitions for elements of
	the theme.
***************************************************************/

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700&subset=latin);

/*****************************
	HTML
*****************************/
html {
    height: 100%;
    max-height: 100%;
}

/*****************************
	BODY
*****************************/
body {
    padding: 0;
    height: 100%;
    max-height: 100%;
    line-height: 1.50em;
    font-size: 0.95em;
    color: #fff;
    background: url('../images/bg.png');
    font-family:  'Open Sans', sans-serif;
}


/*****************************
 	Anchor - Links
*****************************/
a {
    color: #9f0;
    text-decoration: none;
}

    a:hover {
        color: #9f0;
    }

/*****************************
 	Images
*****************************/
img {
    max-width: 100%;
    vertical-align: middle;
    text-anchor: middle;
}

/*****************************
 	Horizontal ruler
*****************************/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #BBB;
    margin: 1.20em 0.50em 0.50em 0.50em;
    padding: 0;
}


/*****************************
 	Inline code
*****************************/

code, kbd, pre,
samp {
    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
    color: #ddd;
}

code, tt {
    padding: 1px 3px;
    white-space: pre-wrap;
    background: #2f3739;
    border-radius: 5px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    width: 100%;
    padding: 10px;
    white-space: pre;
    overflow: auto;
    background: #2f3739;
    border-radius: 5px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 0;
}

.hljs {
    background-color: #ebebeb;
}

/*****************************
 	BACK TO TOP
*****************************/

.back-to-top {
    position: fixed;
    font-weight: bold;
    bottom: 4em;
    right: 0px;
    text-decoration: none;
    color: #282f31;
    background-color: #6c0;
    padding: 0.6em;
    display: none;
}

    .back-to-top:hover {
        background-color: rgba(135, 135, 135, 0.50);
    }

/*****************************
 	Blockquote
*****************************/
blockquote {
    margin: 2em 10px;
    padding-left: 1.5em;
    position: relative;
    background-image: url('../images/blockquote.png');
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    background-size: 1.50em;
    background-position: left top;
    background-repeat: no-repeat;
    text-indent: 23px;
}

/*****************************
 	Loader
*****************************/
.loader {
    display: block;
    position: fixed;
    z-index: 100;
    top: 22px;
    right: -moz-calc(50%);
    right: -webkit-calc(50%);
    right: calc(50%);
}

.loader-icon {
    width: 32px;
    height: 32px;
    background-image: url('../images/ajax-loader.gif');
}

/*****************************
 	PAGINATION
*****************************/

.pagination {
    padding: .5em 0;
}

    .pagination .older-posts {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        background: #2f3739;
        border-radius: 5px;

        float: right;
    }

    .pagination .newer-posts {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        background: #2f3739;
        border-radius: 5px;
        float: left;
    }

/*****************************
 	HEADER - SECTION
*****************************/

header {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1000px;
    background: rgba(0,0,0,.35); /*rgba(40, 46, 48, .6);*/;
    border-color: #424141;
}

#header-logo, #header-menu {
    margin: auto;
}

#header-logo a {
    text-align: center;
    margin: 0;
    text-decoration: none;
    border: none;
}

/*#header-logo a:hover {
    text-shadow: 1px 1px 15px rgba(153, 255, 0, 0.8);
}*/

#header-logo h1 {
    font-family: 'Bitter', sans-serif;
    font-size: 3.5em;
    text-rendering: optimizeLegibility;
    color: #fff;
    margin: 28px 10px 25px 0px;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

#header-sep {
    max-width: 450px;
    margin: 0 auto;
}

        #header-logo h1:hover {
            color: #fff;
        }


    #header-menu nav {
        text-align: center;
        margin: 35px 0 0 0;
        font-size: 1.10em;
    }

        #header-menu nav ul {
            list-style: none;
            margin: 0 10px;
            padding: 0;
        }

        #header-menu nav li {
            display: inline-block;
        }

        #header-menu nav a {
            color: #fff;
            font-weight: normal;
            padding: 0px 20px 0px 0px;
            text-decoration: none;
            border: none;
            -o-transition: color 0.3s ease-out;
            -ms-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -webkit-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
        }

            #header-menu nav a:hover {
                color: #9f0;
            }

/*****************************
 	BODY - SECTION
*****************************/
#body {
    margin: 0 auto;
    max-width: 1000px;
}

#content {
    padding: 5%;
}

#content article {
    padding: 10px;
    background-color: #282e30;
    border: 1px dashed #66747b;
    margin: 25px 0;
}

#all {
    min-height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(0,0,0,.2);

    border: solid #1ac100;
    border-width: 0 1px;
    box-shadow: 1px 1px 15px rgba(153, 255, 0, 0.3);
}

#content-wrap
{
    margin: 0 auto;
    margin-bottom: -199px; /* Space for footer */ 
}

.content-wrap:after {
  content: "";
  display: block;
}
.post-excerpt-header {
    background: #2f3739;
    margin: 0;
    padding: .3em 0 1.2em 0;
}

.post-excerpt-header a {
    text-decoration: none;
    border: none;
    color: #9f0;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.post-excerpt-header a:hover {
    color: #fff;
}

.post-excerpt-header h2 {
font-weight: normal;
font-size: 2em;
margin: 15px 0 5px 10px;
padding: 0;
}

.post-metainfo {
    margin: 5px 0 5px 10px;
}

.post-excerpt-header time {
    font-size: 1em;
}

.author {
    padding-left: 24px;
    background-image: url('../images/author.png');
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    background-size: 17px;
    background-position: left;
    background-repeat: no-repeat;
}

.postedon {
    padding-left: 24px;
    background-image: url('../images/posttime.png');
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    background-size: 14px;
    background-position: left;
    background-repeat: no-repeat;
}

.post-excerpt-content {
    margin: 20px 10px 15px 10px;
    line-height: 1.7em;
    font-weight: normal;
    font-size: 1em;
}

    .post-excerpt-content a {
        border-bottom: 1px;
        border-bottom-color: #BBC7CC;
        border-bottom-style: dotted;
        -o-transition: color 0.3s ease-out;
        -ms-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -webkit-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }

        .post-excerpt-content a:hover {
            color: #fff;
        }

.keep-reading a {
    color: #9f0;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

    .keep-reading a:hover {
        color: #fff;
    }


#profile {
    clear: both;
    float: left;
    text-align: center;
}

#about-me-text {
    float: left;
    max-width: 700px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 1.10em;
}

#tag-cloud {
    clear: both;
}

#profile h2 {
    font-weight: normal;
    font-size: 1.50em;
    margin-bottom: 25px;
    color: #9f0;
    display: block;
}

.profile-photo {
    display: block;
    max-width: 100px;
    margin: 10px;
    border-radius: 100%;
}

.post-excerpt-footer {
    margin: 0 0 10px 10px;
    font-size: 0.85em;
}

.post-excerpt-footer-taglabel {
    margin-left: 1em;
    font-weight: bold;
    background-repeat: no-repeat;
    background-image: url('../images/tags.png');
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    background-size: 17px;
    background-position: left;
    padding-left: 24px;
}

/*****************************
 	SIDEBAR
*****************************/

#sidebar-adsense {
    width: 165px;
    height: 605px;
    margin: 25px auto;
}

/*****************************
 	FOOTER
*****************************/

#footer {
    padding: 1em 0 1em 0;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 199px;
    background: rgba(0,0,0,.35); /*rgba(40, 46, 48, .6);*/
}

#footer-sep {
    max-width: 350px;
    margin: 0 auto;
}

#social {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

    #social ul {
        list-style: none;
    }

        #social ul li {
            display: inline-block;
        }

.inner {
    text-align: center;
    color: #F2F2F2;
    font-size: .8em;
}

    .inner a {
        -o-transition: 0.3s ease-out;
        -ms-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        -webkit-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
    }

        .inner a:hover {
            color: #F2F2F2;
        }

/*****************************
 	SOCIAL-BLAH BLAH
*****************************/

.social-norm {
    color: transparent;
    border: none;
    display: block;
    position: relative;
}

.social-both,
.social-both:hover {
    background: url('../images/social-sprites.png') no-repeat;
    width: 64px;
    height: 64px;
}

.youtube {
    background-position: -66px -258px;
}

    .youtube:hover {
        background-position: -68px -321px;
    }

.skype {
    background-position: -1px 0;
}

    .skype:hover {
        background-position: 0 -65px;
    }

.linkedin {
    background-position: -3px -258px;
}

    .linkedin:hover {
        background-position: -4px -323px;
    }

.facebook {
    background-position: -131px -126px;
}

    .facebook:hover {
        background-position: -131px -191px;
    }

.googlep {
    background-position: -65px 0;
}

    .googlep:hover {
        background-position: -64px -64px;
    }

.twitter {
    background-position: -131px -255px;
}

    .twitter:hover {
        background-position: -131px -319px;
    }

.github {
    background-position: -133px -1px;
}

    .github:hover {
        background-position: -132px -64px;
    }

.bitbucket {
    background-position: -2px -385px;
}

.bitbucket:hover {
    background-position: -2px -447px;
}

.rss {
    background-position: 0 -127px;
}

    .rss:hover {
        background-position: -2px -194px;
    }

/*****************************
 	H1, H2, H3, H4, H5, H6
*****************************/

h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}

h2 {
    font-size: 1.80em;
    font-weight: normal;
}

h3 {
    font-size: 1.60em;
    font-weight: normal;
}

h4 {
    font-size: 1.45rem;
    font-weight: normal;
}

h5 {
    font-size: 1.30rem;
    font-weight: normal;
}

h6 {
    font-size: 1.10rem;
    font-weight: normal;
}


/*****************************
 	HEADING
*****************************/

/*

#header-wrapper {
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background-color: #363636;
}

#wrapper ul li {
	text-decoration: none;
} */

/*.content-wrapper {
	width: 100%;
}

.content
{
	margin 0 auto;
	max-width: 990px;
}*/

/*****************************
 	NAVIGATION
*****************************/
/*

*/

/*****************************
 	ARTICLE
*****************************/
/*
article {
	background-color: #fff;
	border: 1px solid #E9E9E9;
	margin: 10px;
}
*/


